.list {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    padding: 20px;
    row-gap: 30px;
    border-right: 1px solid black;
    background-image: url('/src/BacgroundImages/endless-constellation.png');
}

.list>li {
    border-bottom: 1px solid white;
}

a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
}

.presentation-div {
    display: flex;
}

.presentation-divs {
    width: 81.0150%;
    height: 100vh;
}

.menu {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
}

.modal {
    width: 1000px;
    height: 650px;
    border: 3px solid #330033;
    background-color: white;
    transition: all .5s linear;
    position: absolute;
    z-index: 99;
    top: 53%;
    left: 58%;
    transform: translate(-50%, -50%);
    display: none;
}

.close-modal {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 45px;
    position: absolute;
    right: 30px;
    top: 5px;
    color: #330033;
    cursor: pointer;
}

.home-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.modal-form {
    padding: 10px;
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.title-description {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    padding-left: 80px;
    gap: 20px;
}

.p {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.uploader {
    padding-left: 80px;
}

.second {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.upload-btn {
    padding: 10px;
    background-color: #330033;
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: all .3s linear;
    margin: 10px 0;
    margin-right: 10px;
}

.special-box {
    margin-top: 50px;
    width: 81.0150%;
}

.one-box {
    background-color: #330033;
    display: flex;
    flex-direction: column;
    width: 35%;
    padding: 20px;
    border-radius: 15px;
    color: white;
    gap: 10px;
}

.in-special {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
    row-gap: 50px;
    flex-wrap: wrap;
}

.slide-box {
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.img-btn-box {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.btn2{
    background-color: white;
    color: #330033;
    border: 1px solid #330033;
    border-radius: 10px;
}